@model GrupoEstudosMusical.MVC.Models.AvaliacaoTurmaVM
@{
    Layout = null;
}

<div class="modal fade" id="cmpltadminModal-8">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Adicionar Avaliação na turma</h4>

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                Content is loading...

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fecha</button>
                <button type="button" class="btn btn-info">Salvar Alterações</button>
            </div>
        </div>
    </div>
</div>
