@model GrupoEstudosMusical.MVC.Models.AvaliacaoTurmaVM

<div class="modal fade" id="modalAvaliacaoDaTurma">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Alterar Avaliação da turma</h4>

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                @using (Ajax.BeginForm("EditarAvaliacaoNaTurma", "Avaliacoes", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess"
                }))
                {
                    @Html.HiddenFor(a => a.AvaliacaoID)
                    @Html.Partial("_AdicionarEAlterarAvaliacaoNaTurma", Model)
                }
            </div>
        </div>
    </div>
</div>