<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>@ViewBag.Title - Sistema GEM</title>

<!-- CORE CSS FRAMEWORK - START -->
<link href="~/Content/lib/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
<link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/animate.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
<!-- CORE CSS FRAMEWORK - END -->