@model List<GrupoEstudosMusical.MVC.Models.AvaliacaoTurmaVM>
@{
    ViewBag.Title = "Avaliacoes Da Turma";
}

<a href="@Url.Action("AdicionarAvaliacao","Turmas", new { Id = ViewBag.Id })" btn btn-success">Adicionar Avaliação</a>


