@model GrupoEstudosMusical.MVC.Models.AvaliacaoTurmaVM
@{
    ViewBag.Title = "Adicionar || Avaliacao";
}

@Html.Partial("_AdicionarAvaliacaoNaTurma", Model)

<button onclick="AjaxModalContent()">Emitir</button>
<script type="text/javascript">
    function AjaxModalContent() {
        jQuery('#cmpltadminModal-8').modal('show', { backdrop: 'static' });

        jQuery.ajax({
            url: "../data/ajax-modal-content.txt",
            success: function (response) {
                jQuery('#cmpltadminModal-8 .modal-body').html(response);
            }
        });
    }
</script>